In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.shape

(404290, 6)

In [4]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [5]:
new_df = df.sample(30000)

In [6]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [7]:
ques_df = new_df[['question1','question2']]
ques_df.head()

,question1,question2
215483,Intel pentium quad core or i3 which is better?,Which processor performs better: Core i3 or Pe...
159641,Should I mention I ghost wrote homework for Ha...,"Do you have some good Pdf, course to learn and..."
365814,What would happen if Donald Trump becomes pres...,What will happen if Trump wins for president w...
230482,What are some tips on making it through the jo...,What are some tips on making it through the jo...
128967,Has Barack Obama been a good President overall?,Would President Barack Obama be a good stand-u...

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
questions = list(ques_df['question1']) + list (ques_df['question2'])
cv = CountVectorizer(max_features=3000)
q1_arr,q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [16]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [17]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
215483,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
159641,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
365814,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
230482,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
128967,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280053,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9634,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
235681,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
228917,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
220603,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7415

In [24]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test,y_pred)

0.7213333333333334

In [23]:
pip install xgboost

Collecting xgboostNote: you may need to restart the kernel to use updated packages.

  Downloading xgboost-1.7.6-py3-none-win_amd64.whl (70.9 MB)
Requirement already satisfied: numpy in c:\users\soham\anaconda3\anaconda\lib\site-packages (from xgboost) (1.22.4)
Requirement already satisfied: scipy in c:\users\soham\anaconda3\anaconda\lib\site-packages (from xgboost) (1.7.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.6